<div class="toolbar" role="banner">
    <span class="logo">Endalia HR</span>
    <div class="spacer"></div>
    <div  class="logout-box">
        <a aria-label="logout" target="_blank" rel="noopener" title="Logout" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </a>
    </div>
</div>

<div class="content" role="main">
    <div id="employees">
      <h1 class="main-title">Directorio de empleados</h1>
      <mat-form-field appearance="outline" class="search-input">
        <mat-label>Buscar...</mat-label>
        <input matInput type="text" (keyup)="filterEmployee()"  [(ngModel)]="inputFilter" >
      </mat-form-field>
      <div class="wrapper">
        <div *ngFor="let employee of employeesFilter" class="employee" >
            <div>
                <img class="emp-image" src="{{employee.image}}" alt="{{employee.name}}">
            </div>
            <div class="info">
                <p class="info-text"><span class="emp-lastname">{{employee.lastname}}, </span><span class="emp-name"> {{employee.name}}</span></p>
                <p class="info-text emp-charge">{{employee.charge}}</p>
                <p class="info-text emp-phone">{{employee.phone}}</p>
                <p class="info-text emp-mail">{{employee.mail}}</p>
            </div>
            
        </div>
        <div *ngIf="employeesFilter && employeesFilter.length === 0">
            <h2>No hay resultados de su busqueda</h2>
        </div>
      </div>
    </div>
    <footer>
        Prueba Realizada por Xavier Basir
    </footer>
</div>