:host {
  height: 100vh;
  background-color: #1854a4;
  display: block;
}

body {
  margin: 0px !important;
}

form {
  width: 90%;
  margin: 0px auto;
  position: relative;
  top: 20px;
  mat-form-field {
    width: 100%;
  }
  mat-card{
    padding: 40px;
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  form{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
}

.background {  
  height: 100%;  
  color: #fff;
  background-image: url("../../../../assets/background/background.jpg");  
  background-size: 100%;  
  background-size: cover;  
}  

.login-button{
  width: 100%;
  margin: 20px;
  background-color: #1854a4;
  color: white;
}